body {
	font-family: 'Aldrich', sans-serif;
}

.reece-image {
	border-radius: 50%;
	margin: 10px 10px 0px 10px;
}

.namediv {
	margin-top: 15px;
}

.project {
	margin-bottom: 10px;
}
.navbar {
	margin-top:15px;
}

.main-image-div {
	display: none;
}

.mobile-main-image-div {
	display: none;
}

.row-two {
	display: none;
}

.mtsu-mobile-img,
.project-tango-img {
	height: 200px;
	width: 400px;
}

.pitch-perfect-img {
	height:200px;
	width:200px;
}

