<!DOCTYPE html>
<html>
<head>
	<!-- Sets character encoding for this HTML document to Unicode -->
	<meta charset="utf-8">

	<!-- Tells Internet Explorer to use the best engine it has -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Sets width of page to screen width of device and sets initial zoom level to 1 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<!-- Fontawesome CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	
	<!-- Google Font called Aldrich -->
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>

	<!-- Stylesheet for this HTML file -->
	<link rel="stylesheet" type="text/css" href="css/portfolio.css">

	<title>
		{{ page.title }}
	</title>
</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="col-md-6 logodiv">
				<img class="img-responsive reece-image" src="images/reece.jpg">
			</div>
			<div class="col-md-6 namediv text-right">
				<h1>Reece Boyd</h1>
				<h2>Software Engineer</h2>
			</div>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-light bg-faded">
  				<ul class="nav navbar-nav">
    				<li class="nav-item active">
      					<a class="nav-link" href="index.html">Web<span class="sr-only">(current)</span></a>
    				</li>
    				<li class="nav-item">
      					<a class="nav-link" href="mobile.html">Mobile</a>
    				</li>
    				<li class="nav-item">
      					<a class="nav-link" href="about.html">About</a>
    				</li>
  				</ul>
			</nav>
		</div>
		<div class="container">
			{{ content }}
		</div>
		</body>
		</html>
